.gitignore
PowerShell-Crash-Course/Docs/BSidesCharm_2020_CFP_PowerShellCrashCourse.docx
PowerShell-Crash-Course/Docs/BSidesCharm_2020_CFP_PowerShellCrashCourse.pdf
PowerShell-Crash-Course/Docs/Learn Windows PowerShell in a month of Lunches Outline.docx
PowerShell-Crash-Course/Docs/PowerShell Crash Course Abstract.docx
"PowerShell-Crash-Course/Docs/~$PowerShell Crash Course.pptx"
